body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/recipe4.jpg');
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    align-items: center;



}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.7);
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #4a3f35;
    padding: 8px 15px;
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: #8b5e3c;
    color: #8b5e3c;
}

.dashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background: rgba(255, 255, 255, 0.7);
    width: 50%;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.dashboard h1{
    color: #382c22;
    font-size: 24px;
    margin-bottom: 20px;
}
.dashboard p{
    font-size: 16px;
    color: #382c22;
    margin-bottom: 30px;
}
.options{
    margin-top: 20px;
}
.A{
    display: inline-block;
    background: #8b5e3c;
    color:white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;


}
.A:hover{
    background: #6e4628;
}
.menu-container {
    position: fixed;
    top: 20px;
    left: 15px;
    display: flex;
    z-index: 100;
    align-items: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 7px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background:#4E342E;
    margin: 3px 0;
    transition: 0.3s;
}

.nav-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.menu-container:hover .nav-menu {
    opacity: 1;
    visibility: visible;
}

.nav-menu a {
    display: block;
    padding: 10px 15px;
    color:#4E342E;
    text-decoration: none;
}

.nav-menu a:hover {
    background: #EFEBE9;
}

.logo {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color:#4E342E;
}